/* Style général ------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: black;
}
    /* Bannière ------------------------------------------------------------------------------------------------*/
    header {
        display: flex;
        justify-content: flex-start;
        background-image: url(../img/fond.jpg);
    }
        header img {
            height: 20vh;
            padding-right: 50px;
        }
        header h1 {
            font-family: 'Dr Sugiyama'; font-size: 4em;
            text-shadow: 2px 2px 2px rgb(143, 143, 143);
            color: black;
        }
    /* Barre de navigation ------------------------------------------------------------------------------------- */
    nav {
        display: flex;
        background-color: #000;
        position: sticky;
        top: 0;    
    }
        /* Texte barre navigation */
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }
        /* Surbrillance barre navigation */
        nav a:hover {
            background-color: white;
            color: red;
        }
        /* Noms boutons barre navigation */
        nav p {
            color: white;
            text-align: center;
        }

    /* Pied de page --------------------------------------------------------------------------------------------- */
    .footer {
        justify-content: center;
    }

    /* Boîtes flexibles ------------------------------------------------------------------------------------------*/
    /* Conteneur flex */
    .flex {
        display: flex;
    }
    /* Boîte principale */
    .accueil {
        flex: 75%;
    }
    /* Boîte A propos du chef */
    .chef {
        flex: 25%;
        background-color: #111;
        text-align: center;
        color: white;
        padding: 30px;
    }
    .chef img {
        width: 80%;
        border-radius: 100%;
    }

    /* Recettes du chef ------------------------------------------------------------------------------------------ */
    .recettes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .recettes figure {
        max-width: 100%;
        width: 550px;
    }
    .recettes figure img{
        max-width: 100%;
        width: 550px;
        box-shadow: 8px 8px 6px #aaa;
    }
    /* Styles de bandeau ----------------------------------------------------------------------------------------- */
    .bandeauBrun {
        background-color: rgb(36, 9, 9);
        color: white;
        width: 100%;
        padding: 20px;
    }
    .bandeauClair {
        background-color: rgb(224, 224, 224);
        color: black;
        width: 100%;
        padding: 20px;
        /* a optimisé */
        flex-wrap: wrap;
        justify-content: center;
    }

    .fa-stack {
        margin: 10px;
        color: #ac0000;
    }

    /* Styles de polices --------------------------------------------------------------------------------------------*/
    .titre {
        font-family: 'Alex Brush';
        font-size: 3em;
        text-align: center;
        margin: 0;
        
    }

    /* Slider -----------------------------------------------------------------------------------------------------*/
    div#slider { 
        width: 100%;
        overflow: hidden;
    } 
    div#slider figure {
        width: 600%;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: left;
        animation: 50s slidy infinite;
    }
    div#slider figure img { 
        width: 16.66667%;
    }

    /* Les formulaires --------------------------------------------------------------------------------------------- */
    form {
        display: flex;
        flex-flow: column wrap;
    }
    input,
    button,
    textarea {
        margin : 0;
        padding: 10px;
        margin: 2px;
        font-size: 20px;
        align-items: stretch;
        border: 3px solid black;
        outline: none;
    }

    input:invalid {
        border-color: red;
    }
    input:focus {
        border-color: yellow;
    }
    input:valid {
        border-color: green;
    }
    textarea:invalid {
        border-color: red;
    }
    textarea:focus {
        border-color: yellow;
    }
    textarea:valid {
        border-color: green;
    }

    /* animation du slider */
    @keyframes slidy {
        0% { left: 0% }
        5% { left: 0% }
        10% { left: -100% }
        15% { left: -100% }
        20% { left: -200% }
        25% { left: -200% }
        30% { left: -300% }
        35% { left: -300% }
        40% { left: -400% }
        45% { left: -400% }
        50% { left: -500% }
        55% { left: -500% }
        60% { left: -400% }
        65% { left: -400% }
        70% { left: -300% }
        75% { left: -300% }
        80% { left: -200% }
        85% { left: -200% }
        95% { left:  0% }
        100% { left: 0% }
    }
    /* Quand l'écran fait moins de 800px de large, faire en sorte que les deux colonnes s'empilent l'une au dessus de l'autre */
    @media screen and (max-width: 800px) {
        .row,
        .navbar {
            flex-direction: column;
            position: relative;
        }
        header {
            justify-content: center;
        }
        header img{
            display: none;
        }
        header h1{
            font-size: 3.2em;
        }
        .flex {
            flex-wrap: wrap;
        }
    }